{// 引入标签库 }
<tagLib name="html" />
{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->

<!-- 主页面开始 -->
<div id="main" class="main" >

<!-- 主体内容  -->
<div class="content" >
<div class="title"></div>
<form action="__CONTROLLER__/Operation",method='post'>
<select id="server">
  <option value ="1">网关服务器</option>
  <option value ="2">游戏服务器</option>
  <option value="3">缓存服务器</option>
  <option value="4">数据库服务器</option>
</select>
<button type="button">Click Me!</button>
</form>

<!-- 列表显示区域结束 -->

</div>
<!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->